.links-nav {
}

#carouselExampleIndicators .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#carouselExampleIndicators .carousel-caption {
  color: white;
  /*xright: 40%;*/
  text-align: center;
  max-width: 50%;
  left: 0;
  top: 30%;
  /*top: 50%; */
  /*xtransform: translateY(-50%);
  xbottom: initial;*/
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: 30%;
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
  top: 90%;
}

#carouselExampleIndicators .carousel-caption .lead {
  font-size: 2rem;
}

#carouselExampleIndicators .carousel-inner {
  width: 100%;
  max-height: 800px !important;
}
