body,
html {
  height: 100%;
  margin: 0;
}

.links-nav {
  /*opacity: 0.88;*/
  background-color: #2d3549 !important;
  margin-top: 54px;
}

.aboutus-nav {
  margin-top: 108px;
  background-color: #9e0b0f !important;
  opacity: 0.88;
}

.links-nav .nav-item > a {
  font-size: 1.2rem;
  font-weight: 400 !important;
}

.links-nav .nav-item > a:hover {
  color: lavender;
}

.socials-nav {
  opacity: 0.85;
}

/* Carousel CSS */
#carouselExampleIndicators .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#carouselExampleIndicators .carousel-caption {
  color: white;
  text-align: center;
  max-width: 50%;
  left: 0;
  top: 30%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: 30%;
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
  top: 90%;
}

#carouselExampleIndicators .carousel-caption .lead {
  font-size: 2rem;
}

#carouselExampleIndicators .carousel-inner {
  width: 100%;
  max-height: 800px !important;
}

/* Menu cards CSS */
.finance-card {
  background-color: #0e2a59;
}

.finance-card .card-link {
  display: block;
  color: #0e2a59;
  font-size: 1.5rem;
}

.finance-card .card-link:hover {
  background-image: linear-gradient(to right, white, #0e2a59);
  opacity: 0.5;
}

.tax-card {
  background-color: #273b5c;
}

.tax-card .card-link {
  display: block;
  color: #0e2a59;
  font-size: 1.5rem;
}

.tax-card .card-link:hover {
  background-image: linear-gradient(to right, white, #0e2a59);
  opacity: 0.5;
}

/* Modal Window */
.modal-full {
  min-width: 101%;
  margin: 0;
}

#myModal {
  top: 50%;
}

#myModal {
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
}

#myModal .btn {
  border: 1px outset white;
  color: white;
}

#myModal .btn-primary-outline {
  background-color: transparent !important;
  border-color: white;
}

/* Gallery News Box*/
.news-gallery {
  /*height: 500px !important;*/
}

/* News Cards*/
.news-cards {
  color: #25282c;
}

.news-cards .card-title {
  font-weight: 700;
  font-size: 1.1rem;
  color: #0e2a59;
}

.news-cards a {
  color: #0e2a59;
  text-align: right;
  text-decoration: none;
}

.news-cards a:hover {
  color: #9e0b0f;

  font-weight: 700;
}

.news-gallery .card-img-caption {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.news-gallery .card-img-caption .card-img-top {
  z-index: 0;
}

.news-gallery .card-img-caption .card-text {
  text-align: left;
  width: 100%;
  color: red;
  font-size: 20px;
  margin-top: 60%;
  position: absolute;
  z-index: 1;
}

/* fixed request Button */
button.request {
  position: fixed;
  bottom: 150px;
  z-index: 20;
  transition: bottom ease 0.5s;
  right: 20px;
  border: 0px;
  border-radius: 4px;
  background-color: #9e0b0f;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  padding: 4px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
}

button.request span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.request span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.request:hover span {
  padding-right: 25px;
}

button.request:hover span:after {
  opacity: 1;
  right: 0;
}

/* Publication Page CSS */

.bgPublications {
  /* The image used */
  background-image: url("../img/publications_background.jpg");

  /* Full height */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -10;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mainPublicationCard {
  width: 94%;
  display: block;
  margin-top: 100px;
  margin-bottom: 40px;
  padding-top: 40px;
  /*border: 1px inset black;*/
  margin-left: 2.99%;
  margin-right: 2.99%;
  font-weight: 500;
}
#mainPublicationCard .card {
  border: none;
  opacity: 0.86;
}

#mainPublicationCard .card .card-text {
  text-align: justify;
  font-size: 0.9rem;
}

#mainPublicationCard .jumbotron {
  background: none;
  text-align: justify;
}

#listPublicationsCards {
  width: 94%;
  display: block;
  margin-left: 2.99%;
  margin-right: 2.99%;
  opacity: 0.86;
  margin-bottom: 40px;
}

#listPublicationsCards .card-link {
  color: #9e0b0f;
}

/* Contacts Page CSS*/
.bgContacts {
  /* The image used */
  background-image: url("../img/contacts_background.jpg");

  /* Full height */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -10;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mainContactsSection {
  width: 94%;
  margin-top: 108px;
  /*border: 1px inset black;*/
  margin-left: 2.99%;
  margin-right: 2.99%;
  font-weight: 500;
}

#mainContactsSection .card {
  opacity: 0.899;
}

#contactFormBody {
  background: white;
  opacity: 0.88;
}

.contacts-info {
  color: #9e0b0f;
}

/* About Us Page*/

.bgAboutus {
  /* The image used */
  background-image: url("../img/aboutus_history.png");

  /* Full height */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -10;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#aboutusPageContent {
  margin-top: 141px;
}

#history {
  background: #ffffff;
  opacity: 0.88;
}

/* Footer */

footer {
  width: 100%;
  bottom: 0px;
}

footer div.row {
  background-color: #2d3549;
  color: white;
}

footer a {
  color: white;
}

footer a.subscribe {
  display: block;
  color: white;
  position: relative;
  margin-right: 10%;
  margin-top: 50px;
  opacity: 56%;
  /*opacity: 56%;*/
  bottom: 10px !important;
}

footer img.logo {
  position: relative;
  margin-right: 10%;
  margin-top: 50px;
  opacity: 56%;
  bottom: 10px !important;
}

/* Media queries CSS*/
@media screen and (max-width: 988px) {
  .socials-nav {
    display: none;
  }

  .links-nav {
    opacity: 1;
    background-color: #2d3549 !important;
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 400px) {
  #contactFormBody {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }
}
